
site_name: Granblue Fantasy - Relink Modding
site_description: Granblue Fantasy - Relink Modding Docs
site_url: https://nenkai.github.io/relink-modding/
repo_url: https://github.com/Nenkai/relink-modding
repo_name: nenkai/relink-modding

copyright: Copyright &copy; 2024 Nenkai - Not affiliated with Cygames.

theme:
  name: material
  logo: images/logo.png
  favicon: images/favicon.png
  custom_dir: docs/overrides/

  features:
    - navigation.tabs
    - navigation.sections
    - navigation.footer
    - navigation.top
    - navigation.instant
    - navigation.instant.progress
    - navigation.tracking
    - toc.follow
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.copy
    - content.action.edit
    - content.code.annotate
    - header.autohide
  language: en
  palette:

  # Palette toggle for automatic mode
  - media: "(prefers-color-scheme)"
    toggle:
      icon: material/brightness-auto
      name: Switch to light mode
    primary: light blue
    accent: light blue 

  # Palette toggle for light mode
  - media: "(prefers-color-scheme: light)"
    scheme: default 
    toggle:
      icon: material/brightness-7
      name: Switch to dark mode
    primary: light blue
    accent: light blue 

  # Palette toggle for dark mode
  - media: "(prefers-color-scheme: dark)"
    scheme: slate
    toggle:
      icon: material/brightness-4
      name: Switch to system preference
    primary: light blue
    accent: light blue


nav:
  - Main Page: index.md
  - Installing/Creating Mods: 
    - Installing Mods: modding/installing_mods.md
    - Creating Mods: modding/creating_mods.md
    - Recommended Mods/Tools: modding/recommended_mods_tools.md
    - Mod Manager API: modding/mod_manager_api.md

  - Modder Tutorials:
    - Extracting Files: tutorials/file_extraction.md

    - Textures:
      - Extracting Textures: tutorials/textures/texture_extraction.md
      - Creating Textures: tutorials/textures/texture_creation.md

    - Audio:
      - Audio Playback/Conversion: tutorials/audio/audio_extraction.md
      - Audio Creation: tutorials/audio/audio_creation.md

  - Modder Resources/Info:
    - Asset Paths: resources/asset_paths.md
    - File Extensions: resources/file_extensions.md
    - Entity Prefixes: resources/entity_prefixes.md

    - General IDs:
      - Item IDs: resources/item_ids.md
      - Model IDs: resources/model_ids.md
      - Phase IDs: resources/phase_ids.md
      - Quest IDs: resources/quest_ids.md
      - Sigil/Gem IDs: resources/sigil_gem_ids.md
      - Trait/Skill IDs: resources/trait_skill_ids.md

    - Rates/Tables:
      - Enemy Parts Rates: resources/enemy_break_part_rates.md
      - Gacha (Transmute) Rates: resources/gacha_rates.md
      - Item Junk (Curio) Rates: resources/curio_loot_rates.md
      - Quest Drop Rates: resources/quest_drop_rates.md
      - Weapon Materials: resources/weapon_materials.md

    - Player System:
      - Actions / Parameters: resources/player/action_parameter.md
      - Action IDs: resources/player/action_ids.md
      - Buff IDs: resources/player/buff_ids.md
      - Control Types: resources/player/control_types.md
      - Debuff/Ailment IDs: resources/player/debuff_ailment_ids.md
      - Motions: resources/player/motions.md

    - Scripting:
      - FSMs: resources/fsm.md

    - Quests/Layouts:
      - Quest Base Info: resources/quests_layouts/quest_base_info.md
      - Placement Info: resources/quests_layouts/placement.md

    - Formats:
        - .cfct - Camera Fade Table: resources/formats/cfct.md
        - .minfo - Model Info: resources/formats/minfo.md
        - .mmat - Material Info: resources/formats/mmat.md
        - .objread - Obj Read: resources/formats/objread.md
        - .stpr - Streaming Prefetch: resources/formats/stpr.md
        - Effect callselector: resources/formats/call_selector.md 

    - Reverse-Engineering:
        - API: resources/re/api.md
        - Hashes: resources/re/hashes.md
        - Misc: resources/re/misc.md
        - Networking: resources/re/networking.md
        - Obj IDs: resources/re/obj_id.md
        - Save Unit IDs: resources/re/save_units.md
        - User Attributes: resources/re/user_attributes.md

    - Mechanics:
        - Quest Result Titles: resources/re/mechanics/quest_evaluation.md
        - Quick Quest Power Scaling: resources/re/mechanics/quick_quest_power_scaling.md
        - Overmasteries: resources/re/mechanics/overmasteries.md
        - PWR / Power: resources/re/mechanics/pwr_power.md
        - Roll of the Die: resources/re/mechanics/rotd.md
        - Sigil Synth. Grand Success: resources/re/mechanics/gem_mix.md
        - Special Emotes: resources/re/mechanics/emotes.md
        - Terminus Weapon Rolling: resources/re/mechanics/terminus.md
      
  - Blender:
    - Model Importing: models/importing.md 
    - Model Exporting: models/exporting.md

  - Tables:
    - Table Database: tables/table_database.md
    - Table List: tables/table_list.md
    
  - Other / Additional Resources:
    - Character Colors / Packs:
      - Character List: resources/other/color_packs.md
      - Characters:
        - Gran: resources/other/color_packs/gran.md
        - Djeeta: resources/other/color_packs/djeeta.md
        - Katalina: resources/other/color_packs/katalina.md
        - Rackam: resources/other/color_packs/rackam.md
        - Io: resources/other/color_packs/io.md
        - Eugen: resources/other/color_packs/eugen.md
        - Rosetta: resources/other/color_packs/rosetta.md
        - Ferry: resources/other/color_packs/ferry.md
        - Lancelot: resources/other/color_packs/lancelot.md
        - Vane: resources/other/color_packs/vane.md
        - Percival: resources/other/color_packs/percival.md
        - Siegfried: resources/other/color_packs/siegfried.md
        - Charlotta: resources/other/color_packs/charlotta.md
        - Yodarha: resources/other/color_packs/yodarha.md
        - Narmaya: resources/other/color_packs/narmaya.md
        - Ghandagoza: resources/other/color_packs/ghandagoza.md
        - Zeta: resources/other/color_packs/zeta.md
        - Vaseraga: resources/other/color_packs/vaseraga.md
        - Cagliostro: resources/other/color_packs/cagliostro.md
        - Id: resources/other/color_packs/id.md
        - Sandalphon: resources/other/color_packs/sandalphon.md
        - Seofon: resources/other/color_packs/seofon.md
        - Tweyen: resources/other/color_packs/tweyen.md
    - Possible Updates: other/possible_updates.md
    
  - Contributing: contributing.md

markdown_extensions:
  - toc:
      permalink: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.mark
  - pymdownx.keys
  - pymdownx.critic
  - pymdownx.tilde
  - pymdownx.tabbed:
      alternate_style: true 
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

plugins:
  - git-revision-date-localized:
      enable_creation_date: true
  - git-committers:
      repository: nenkai/relink-modding
      branch: main
  - social
  - search:
      lang: en
  - glightbox
  - table-reader
      
extra:
  social:
    - icon: fontawesome/brands/discord 
      link: https://discord.gg/gbsG4CDsru

    - icon: fontawesome/brands/twitter 
      link: https://twitter.com/Nenkaai

    - icon: fontawesome/brands/github 
      link: https://github.com/Nenkai

    - icon: simple/kofi
      link: https://ko-fi.com/nenkai

extra_css:
  - stylesheets/extra.css